:root {
    --mainBackgroundColor: #0f0f0f;
    --hoverButtonBackgroundColor: #3f3f3f;
    --clickButtonBorderColor: #5c5c5c;
    --clickButtonBackgroundColor: #4e4e4e;
    --selectedButtonBackgroundColor: #272727;
    --selectedHoverButtonBackgroundColor: #3d3d3d;
    --searchBarBorderColor: #3d3d3d;
    --searchBarFocusBorderColor: #1C62B9;
    --searchBarLoupeBackgroudColor: #272727;
    --mainTextColor: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Cascadia Code, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: var(--mainTextColor);
    background-color: var(--mainBackgroundColor);
}

header {
    text-align: left;
    box-shadow: 0px 2px purple;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

header>div>p {
    color: red;
}

button {
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

button:hover {
    border-radius: 50%;
    background-color: var(--hoverButtonBackgroundColor);
    height: 50px;
    width: 50px;
}

button:active {
    border: 2px solid var(--clickButtonBorderColor);
    border-radius: 50%;
    background-color: var(--clickButtonBackgroundColor);
    height: 50px;
    width: 50px;
}

.menu {
    display: flex;
    align-items: center;
}

img {
    margin-top: 5%;
    margin-left: 7px;
    width: 160px;
}

.searchBar {
    margin-top: 5px;
}

form {
    display: flex;
}

form>div {
    background-color: transparent;
    flex: 1 1 auto;
}

input {
    border: none;
}

.search {
    border-radius: 50px 0% 0% 50px;
    border: 1px solid var(--searchBarBorderColor);
}

input[type="search"] {
    font-size: 1em;
    margin-left: 20px;
    margin-right: 0px;
    height: 90%;
}

input[type="search"]:focus {
    margin-left: 20px;
    margin-right: 0px;
    outline: none;
}

.loupe {
    border-radius: 0px 50px 50px 0px;
    border: 1px solid var(--searchBarBorderColor);
    background-color: var(--searchBarLoupeBackgroudColor);
}

input[type="submit"] {
    padding: 2px 10px;
    background-color: none;
    border-radius: 0px 50px 50px 0px;
    background-color: transparent;
}

.profile {
    display: flex;
    align-items: center;
}

button > img {
    margin: 0px;
    width: 25px;
    background-color: transparent;
}